@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Math&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --dark: #212121;
    --darker: #121212;
    --superdark: #0a0a0a;
    --light: #fefefe;
    --superlight: #ffffff;
    --transparent: #fff0;
    --red: #e83b3b;
    --darkred: #ae2334;
    --orange: #f8a435;
    --offwhite: #c7dcd0;
    --magenta: #a884f3;
    --darkpurple: #2e222f;
    --superdarkpurple: #251c26;

    --bronze: #9e4539;
    --silver: #30e1b9;
    --gold: #f79617;
    --platinum: #f04f78;

    --garnet: #8b2b2b;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--light);
    background-color: var(--dark);
    overflow-y: visible;
    overflow-x: hidden;
}

h1 {
    font-size: 280%;
    font-weight:700;
    font-variant: small-caps;
    margin: 0;
    color: var(--darkred);
    text-shadow: 2px 2px 3px var(--superdark);
}

h2 {
    font-size: 200%;
    font-weight: 500;
    font-variant: small-caps;
    color: var(--darkred);
    text-shadow: 2px 2px 1px var(--darker);
}

a:link {
    color: var(--red);
}

a:visited {
    color: var(--red);
}

a:hover {
    color: var(--darkred);
}

a:active {
    color: var(--darkred);
}

button {
    background-color: var(--transparent);
    border-radius: 0.3em;
    border-color: var(--light);
    color: var(--light);
    padding: 1rem 2rem;
    text-align: center;
    text-decoration: none;
    font-variant: small-caps;
    display: inline-block;
    transition: color 0.1s ease-out, transform 0.05s ease-out;
}

button:hover {
    transform: scale(1.05);
    border-color: var(--red);
    color: var(--red);
}

button:active {
    transform: scale(1);
    border-color: var(--darkred);
    color: var(--darkred);
}

details {
    padding: 1rem;
    margin: 1em;
    transition: background-color 0.1s ease-in-out;
    background-color: var(--darker);
    border-radius: 1em;
}

details[open] {
    background-color: var(--platinum);
}

details p {
    font-size: 120%;
}

details summary {
    font-size: 130%;
    cursor: pointer;
    user-select: none;
    transition: margin 70ms ease-in-out;
}
  
details[open] summary {
    margin-bottom: 2em;
    font-size: 130%;
}

.hackstoga-button {
    font-size: 150%;
    margin: 1em;
}

.sponsor-image {
    transition: transform 0.05s ease-in-out;
}

.sponsor-image:hover {
    transform: scale(1.05);
}

.light {
    color: var(--dark);
    background-color: var(--light);
}

.darker {
    color: var(--light);
    background-color: var(--darker);
}

.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}

.rounded {
    border-radius: 10px;
}

#main-cover {
    height: 90vh;
    background-size: cover;
    background-image: url("../assets/media/hackstoga/banner.png");
    background-attachment: fixed;
}

.leadership-card {
    margin: 0.5em;
    padding: 1.5em;
    background-color: var(--darker);
    color: var(--light);
    transition: transform ease 300ms;
    min-height: 85%;
}

.leadership-card:not(:hover) {
    transform: translate(0, 0px);
}

.leadership-card:hover {
    transform: translate(0, -10px);
}

.leadership-card > img {
    min-width: 100%;
}

.leadership-card > h3, h2, p {
    overflow-wrap: break-word;
}