@import url('https://fonts.googleapis.com/css2?family=Inter&family=Noto+Sans+Math&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

:root {
    --dark: #212121;
    --darker: #121212;
    --superdark: #0a0a0a;
    --light: #fefefe;
    --superlight: #ffffff;
    --transparent: #fff0;
    --red: #e83b3b;
    --darkred: #ae2334;
    --superdarkred: #6d1520;
    --orange: #f8a435;
    --offwhite: #c7dcd0;
    --magenta: #a884f3;
    --darkpurple: #2e222f;
    --superdarkpurple: #251c26;

    --bronze: #9e4539;
    --silver: #30e1b9;
    --gold: #f79617;
    --platinum: #f04f78;

    --garnet: #8b2b2b;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Space Grotesk', sans-serif;
    color: var(--light);
    background-color: var(--dark);
    overflow-y: visible;
    overflow-x: hidden;

    background-size: cover;
    background-image: url("../assets/media/hackstoga/banner.png");
    padding: 0;
    margin: 0;
}


.flex {
    display: flex;
}

.flex-center {
    justify-content: center;
    align-items: center;
}

.flex-column {
    flex-direction: column;
}



table {
  width: 60%;
  min-width: 600px;
  max-height: 90vh;
  
  user-select: none;
}


th,
td {
  border: 2px solid #ffffff00;
  padding: 4px;
  text-align: center;
}

th {
  background-color: #ae2334E0;
}

th:first-child {
    border-radius: 12px 0 0 0;
}
th:last-child {
    border-radius: 0 12px 0 0;
}
tbody tr:last-child {
    background-color: var(--platinum);
}

tbody tr:nth-child(odd) {
    background-color: #1212126A;
}

tbody tr:nth-child(even) {
  background-color: #1212126A;
}

tbody td:hover {
    color: var(--red);
    text-decoration: underline;
}