#cover {
  background-image: url('/media/banners/hackstoga24.jpg');
  background-size: cover;
  color: var(--light);
  min-height: 50em;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
}

#title {
  font-size: 5em;
  margin: 0;
  font-weight: bolder;
  text-shadow: 2px 2px 3px var(--superdark);
}

#subtitle {
  font-size: x-large;
}

#about {
  color: var(--light);
  font-size: 120%;
}

#sponsors {
  background-color: var(--superdark);
  color: var(--light);
  font-size: 120%;
}

#faq {
  color: var(--light);
  font-size: 120%;
}

#schedule {
  background-color: var(--superdark);
  color: var(--light);
  font-size: 120%;
}

#footer {
  color: var(--light);
  background-color: var(--superdark);
}

/* details */
details {
  padding: 1rem;
  margin: 1em;
  transition: background-color 0.1s ease-in-out;
  background-color: var(--darker);
  border-radius: 1em;
}

details[open] {
  background-color: var(--darkred);
}

details p {
  font-size: 120%;
}

details summary {
  font-size: 130%;
  cursor: pointer;
  user-select: none;
  transition: margin 70ms ease-in-out;
}

details[open] summary {
  margin-bottom: 2em;
  font-size: 130%;
}

/* screens */
@media screen and (min-width: 800px) {
  .formatting-separator {
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 3.5em;
  }

  #subtitle {
    font-size: medium;
  }
}

/* dividers */
.waves-divider {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(148px);
}

.waves-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.waves-divider .shape-fill {
  fill: var(--dark);
}

.triangle-divider {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.triangle-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.triangle-divider .shape-fill {
  fill: var(--superdark);
}
