@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* screens */
@media screen and (min-width: 800px) {
    .formatting-separator {
        height: 100px;
    }
}
#splash {
    /* this used to be the hackStoga banner but we have enough pictures of the event that we can use those */
    /* background-image: url("/media/banners/resources.png"); */
    height: 10px;
    max-height: 10px;
    font-family: "Montserrat", sans-serif;
}
#leaderboard-section {
    padding-top: 100px;
    color: var(--light);
    font-size: 120%;
}

#leaderboard-list {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--light);
    font-size: 120%;
}
.error-text {
    color: var(--red);
    font-size: 120%;
}
#leaderboard-list table {
    margin-top: 30px;
    border-collapse: collapse;
    border: 3px solid var(--light);
    border-spacing: 0;
    max-width: 1200px;
    width: 100%;
}

#leaderboard-list th {
    padding: 3px;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

#leaderboard-list td {
    padding: 5px;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
}
#leaderboard-list img {
    width: auto;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

@media screen and (min-width: 800px) {
    #leaderboard-list table {
        width: 90%;
    }
}

.center-text {
    text-align: center;
    margin-left: auto;
  margin-right: auto;
}
