@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');


/* screens */
@media screen and (min-width: 800px) {
    .formatting-separator {
        height: 100px;
    }
}
#splash {
    /* this used to be the hackStoga banner but we have enough pictures of the event that we can use those */
    /* background-image: url("/media/banners/resources.png"); */
    height: 10px;
    max-height: 10px;
    font-family: "Montserrat", sans-serif;
}
#leaderboard-section {
    padding-top: 100px;
    color: var(--light);
    font-size: 120%;
}

#leaderboard-list {
    padding-top: 15px;
    padding-bottom: 15px;
    color: var(--light);
    font-size: 120%;
}
.error-text {
    color: var(--red);
    font-size: 120%;
}
#leaderboard-list table {
    margin-top: 30px;
    border-collapse: collapse;
    border: 3px solid var(--light);
    border-spacing: 0;
    max-width: 1200px;
    width: 100%;
}

#leaderboard-list th {
    padding: 3px;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
}

#leaderboard-list td {
    padding: 5px;
    border-bottom: 1px solid var(--light);
    border-right: 1px solid var(--light);
}
#leaderboard-list img {
    width: auto;
    height: 20px;
    border-radius: 50%;
    margin-right: 10px;
}

.center-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pure-form .pure-control-group label {
    flex-basis: auto;
    justify-self: flex-start;
}

.pure-form .pure-control-group input, 
.pure-form .pure-control-group select {
    flex-grow: 1;
}

.pure-form .pure-control-group,
.pure-form .pure-controls {
    display: flex;
    justify-content: center;
}

@media screen and (min-width: 800px) {
    #leaderboard-list table {
        width: 90%;
    }
}

@media screen and (min-width: 700px) {
    #claim-form {
        position: relative;
        right:105px;
    }
}

.pure-control-group {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.page-container {
    position: relative;
    /* Your other styles for the page container */
}

.loader-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Darkened background color */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Ensure the loader is on top */
}

