@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* screens */
@media screen and (min-width: 800px) {
  .formatting-separator {
    height: 100px;
  }
}

#splash {
  /* this used to be the hackStoga banner but we have enough pictures of the event that we can use those */
  /* background-image: url("/media/banners/resources.png"); */
  height: 10px;
  max-height: 10px;
  font-family: 'Montserrat', sans-serif;
}

#leaderboard-section {
  padding-top: 100px;
  color: var(--light);
  font-size: 120%;
}

#leaderboard-list {
  padding-top: 15px;
  padding-bottom: 15px;
  color: var(--light);
  font-size: 120%;
}

.error-text {
  color: var(--red);
  font-size: 120%;
}

#leaderboard-list table {
  margin-top: 30px;
  border-collapse: collapse;
  border: 3px solid var(--light);
  border-spacing: 0;
  max-width: 1200px;
  width: 100%;
}

#leaderboard-list th {
  padding: 3px;
  border-bottom: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

#leaderboard-list td {
  padding: 5px;
  border-bottom: 1px solid var(--light);
  border-right: 1px solid var(--light);
}

#leaderboard-list img {
  width: auto;
  height: 20px;
  border-radius: 50%;
  margin-right: 10px;
  padding-left: 5px;
}

.center-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

@media screen and (min-width: 800px) {
  #leaderboard-list table {
    width: 90%;
  }
}

.pure-control-group {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.page-container {
  position: relative;
}

.loader-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  /* Darkened background color */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  /* Ensure the loader is on top */
}

#signout-button {
  background: rgb(202, 60, 60);
  color: white;
}

.admin-num-input {
  max-width: 6rem;
  background: transparent;
  color: white;
}

.admin-text-input {
  background: transparent;
  color: white;
}

.info-card {
  margin: 0.5em;
  padding: 1.5em;
  background-color: var(--darker);
  border-radius: 1em;
  color: var(--light);
  width: 50%;
  max-width: 800px;
  min-width: 400px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.info-card h1,
h2,
h3 {
  margin-bottom: 1em;
}

.convert-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.left-section {
  display: flex;
  align-items: center;
}

.bracket {
  padding: 10px;
  display: flex;
  align-items: center;
  margin-right: 5px;
}

.bracket:after {
  content: '}';
  font-size: 35px;
  line-height: 0;
  margin-left: 5px;
  margin-top: -4px;
}

.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.button-group button {
  border-radius: 0.35em;
  margin-top: 5px;
}
