body {
    font-family: 'JetBrains Mono', monospace;
    background-color: var(--darkpage);
    color: var(--darktext);
    padding: 0;
    margin: 0;
    overflow-y: visible;
    overflow-x: hidden;
}

a {color: var(--link);}

.table {padding: 2vh;}
.table th {background-color: #239063;  padding: 1vh 0 0 1vh;}
.table td, .table th { padding: 0 1.5vw 0 1.5vw; text-align: center;  }

#body { width: 100%; height: 45rem; align-items: center; flex-direction: column;}