@import "~typeface-montserrat/index.css";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

.bg-light-gray {
  background-color: $gray-100;
}

.experiences-section,
.pictures-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.experiences-heading {
  font-weight: 700;
}

.experiences-subheading {
  font-size: 1.1rem;
}

.pictures-heading {
  font-weight: 700;
}
