@import "~typeface-montserrat/index.css";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

@mixin background-opacity($color, $opacity: 0.3) {
  background: $color;
  background: rgba($color, $opacity);
}

.bg-light-gray {
  background-color: $gray-100;
}

.topnav {
  background-color: $black !important;
}

.navbar-title {
  font-size: 1.8rem;
  font-weight: 600;
}

.nav-section-link {
  /* stylelint-disable */
  @extend .text-light;
  @extend .text-muted;
  @extend .text-uppercase;
  @extend .btn;
  @extend .p-3;
  @extend .m-1;
  /* stylelint-enable*/

  font-weight: 600;

  &:hover {
    @include background-opacity($primary, 0.5);

    text-decoration: none;
  }
}

.nav-link-scrolled {
  background-color: $primary;
  color: $white !important;
}

.header-section {
  background-color: $black !important;
}

.header-container {
  background-attachment: scroll;
  background-image: url("../images/logo.jpg");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
  padding-bottom: 300px;
  padding-top: 400px;
}

.experiences-section,
.pictures-section,
.contacts-section,
.presentations-section,
.mstquery-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.experiences-heading,
.pictures-heading,
.contacts-heading {
  font-weight: 700;
}

.experiences-subheading {
  font-size: 1.1rem;
}

.contacts-link {
  color: $gray-400;

  &:hover {
    color: $white;
  }
}

.contacts-alinks-container {
  > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}

.resources-top-padding,
.tools-top-padding {
  padding-top: 50px;
}

.resources-presentation-header-name {
  /* stylelint-disable */
  @extend .text-monospace;
  /* stylelint-enable */

  background-color: $gray-800;
  border-radius: 4px;
  padding: 5px;
}
