@import "~typeface-montserrat/index.css";
@import "./variables";
@import "~bootstrap/scss/bootstrap";

.bg-light-gray {
  background-color: $gray-100;
}

.experiences-section,
.pictures-section,
.contacts-section {
  padding-bottom: 150px;
  padding-top: 150px;
}

.experiences-heading,
.pictures-heading,
.contacts-heading {
  font-weight: 700;
}

.experiences-subheading {
  font-size: 1.1rem;
}

.contacts-link {
  color: $gray-400;

  &:hover {
    color: $white;
  }
}

.contacts-alinks-container {
  > * {
    padding-left: 10px;
    padding-right: 10px;
  }
}
