:root {
  --num-logos: 4;
  --logo-width: calc(vw / 6);
  --total-width: calc(var(--num-logos) * var(--logo-width) * 2);
  --animation-duration: calc(var(--num-logos) * 6s);
}

#cover {
  background-image: url('/media/banners/hackstoga24.jpg');
  background-size: cover;
  color: var(--light);
  min-height: 50em;
  background-color: rgba(0, 0, 0, 0.25);
  background-blend-mode: multiply;
}

#title {
  font-size: 5em;
  margin: 0;
  font-weight: bolder;
  text-shadow: 2px 2px 3px var(--superdark);
}

#subtitle {
  font-size: x-large;
}

#about {
  color: var(--light);
  font-size: 120%;
  scroll-margin-top: 100px;
}

#sponsors {
  background-color: var(--superdark);
  color: var(--light);
  font-size: 120%;
}

#faq {
  color: var(--light);
  font-size: 120%;
}

#schedule {
  background-color: var(--superdark);
  color: var(--light);
  font-size: 120%;
  scroll-margin-top: -150px;
  min-height: auto;
  padding-bottom: 3em;
}

.header {
  color: var(--garnet);
  text-shadow: 2px 2px 3px var(--superdark);
}

#footer {
  color: var(--light);
  background-color: var(--superdark);
}

#footer p {
  padding: 0 1em;
}

/* responsive logo sizing */
#sponsor-logos {
  text-align: center;
}

.sponsor-logo-container {
  padding: 1.5em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sponsor-logo-main {
  max-width: 400px;
  width: 100%;
  height: auto;
}

/* mobile */
@media screen and (max-width: 800px) {
  .sponsor-logo-main {
    max-width: 90%;
  }

  .sponsor-logo-container {
    padding: 0.5em 0;
  }

  #sponsors {
    scroll-margin-top: 12vmax;
  }

  #faq {
    scroll-margin-top: 9vmax;
  }

  #schedule {
    scroll-margin-top: -10vmax;
  }
}

/* details */
details {
  padding: 1rem;
  margin: 1em;
  transition: background-color 0.1s ease-in-out;
  background-color: var(--darker);
  border-radius: 1em;
}

details[open] {
  background-color: var(--darkred);
}

details p {
  font-size: 120%;
}

details summary {
  font-size: 130%;
  cursor: pointer;
  user-select: none;
  transition: margin 70ms ease-in-out;
}

details[open] summary {
  margin-bottom: 2em;
  font-size: 130%;
}

/* screens */
@media screen and (min-width: 800px) {
  .formatting-separator {
    height: 100px;
  }
}

@media screen and (max-width: 800px) {
  #title {
    font-size: 3.5em;
  }

  #subtitle {
    font-size: medium;
  }
}

/* dividers */
.waves-divider {
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg) translateY(148px);
}

.waves-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.waves-divider .shape-fill {
  fill: var(--dark);
}

.triangle-divider {
  top: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.triangle-divider svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 150px;
}

.triangle-divider .shape-fill {
  fill: var(--superdark);
}

.slider {
  position: relative;
  width: 100%;
  height: 350px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

.slider::before,
.slider::after {
  position: absolute;
  content: '';
  height: 100%;
  width: 150px;
  z-index: 1;
}

.slider::before {
  left: 0;
  background: linear-gradient(to right, var(--superdark) 0%, transparent 100%);
}

.slider::after {
  right: 0;
  background: linear-gradient(to left, var(--superdark) 0%, transparent 100%);
}

.slider ul.brands {
  max-height: 100%;
  list-style: none;
  width: var(--total-width);
  display: flex;
  align-items: center;
  justify-content: center;
  animation: slideLeft var(--animation-duration) linear infinite;
}

@keyframes slideLeft {
  100% {
    transform: translateX(calc(-100% / 2));
  }
}

ul.brands li.brand {
  margin: 0 100px;
  max-height: 200px;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

ul.brands li.brand img {
  max-height: 150px;
  max-width: 300px;
  width: auto;
  height: auto;
  object-fit: contain;
}

/* responsive sizing carousel */
@media screen and (max-width: 800px) {
  .slider {
    height: 200px;
  }
  
  ul.brands li.brand {
    margin: 0 50px;
    min-width: 150px;
  }
  
  ul.brands li.brand img {
    max-height: 100px;
    max-width: 200px;
  }
}

#notice-container {
  position: absolute;
  top: 110px;
  width: 100%;
  text-align: center;
}

#alert-signup-expiry {
  text-align: center;
  margin: 0 auto;
}

#signup-vol-button:hover {
  border-color: var(white);
  color: var(white);
}

#signup-vol-button:active {
  border-color: var(white);
  color: var(white);
}

#vol-container {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}

.button-container {
  margin-top: 15px;
  display: flex;
  flex-direction: row;
}

.translucent-bg {
  margin-top: 2px;
  font-size: 1.25em;
  background-color: rgba(0, 0, 0, 0.796);
  padding: 0.3em;
  border-radius: 0.5em;
}

#signup-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #000000cc;
  border: 2px solid white;
  font-size: 2em;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: none;
}

#volunteer-popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px 10px 20px;
  color: white;
  background-color: #8b2b2be5;
  border: 2px solid white;
  font-size: 2em;
  border-radius: 10px;
  font-weight: bold;
  text-align: center;
  display: none;
}

@media screen and (max-width: 522px) {
  .clean-button {
    margin: 0px 0px 0px 0px;
  }

  .right-button {
    margin-left: 0em;
    margin-top: 15px;
  }
  
  .button-container {
    gap: 15px;
  }
}
