@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --dark: #212121;
  --darker: #121212;
  --superdark: #0a0a0a;
  --light: #fefefe;
  --superlight: #ffffff;
  --red: #e83b3b;
  --darkred: #ae2334;
  --orange: #f8a435;
  --offwhite: #c7dcd0;
  --magenta: #a884f3;
  --darkpurple: #2e222f;
  --superdarkpurple: #251c26;

  --bronze-sponsor: #9e4539;
  --silver-sponsor: #30e1b9;
  --gold-sponsor: #f79617;
  --platinum-sponsor: #f04f78;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--light);
  background-color: var(--dark);
  overflow-y: visible;
  overflow-x: hidden;
}

a:link {
  color: var(--red);
}

a:visited {
  color: var(--red);
}

a:hover {
  color: var(--darkred);
}

a:active {
  color: var(--darkred);
}

.light {
  color: var(--dark);
  background-color: var(--light);
}

.darker {
  color: var(--light);
  background-color: var(--darker);
}

.flex {
  display: flex;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pure-g {
  display: flex;
}

.pure-u-md-1-3 img {
  max-height: 100%;
  max-width: 100%;
  height: auto;
}

.pure-u-md-2-3 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.flex-column {
  flex-direction: column;
}

.rounded {
  border-radius: 10px;
}

#title {
  font-size: calc(3em + 5vw);
  margin: 0px;
  font-weight: bolder;
  text-shadow: 2px 2px 3px var(--superdark);
}

#blurred-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backdrop-filter: blur(2px);
  background-color: rgba(0, 0, 0, 0.35);
}

.textbox u {
  text-decoration: none;
  color: var(--orange);
  text-decoration-color: var(--orange);
  font-weight: bold;
  border-radius: 6px;
}

.pure-img {
  height: auto;
}
.margin-on-desktop {
  margin-left: 25%;
}

@media screen and (max-width: 551px) {
  #logo-img {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .margin-on-desktop {
    margin-left: 0%;
  }
}

#mission {
  background-color: var(--darker);
}

/* #main-cover {
  height: 90vh;
  background-size: cover;
  background-image: url('../media/banners/sponsor24.png');
  background-attachment: fixed;
  background-color: rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
} */

#main-cover {
  position: relative;
  height: 90vh;
  overflow: hidden;
}

#video-background {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -1;
  object-fit: cover;
}

.icon {
  width: 4em;
}

.sponsor-card {
  margin: 1em;
  background-color: var(--dark);
  color: var(--light);
  box-shadow: 0 0 12px rgba(255, 255, 255, 0.3);
  transition: transform ease 300ms;
}

@keyframes glow {
  0%,
  100% {
    box-shadow: 0 0 20px 2px rgba(240, 79, 120, 0.35);
  }
  50% {
    box-shadow: 0 0 20px 2px rgba(240, 79, 120, 0.8);
  }
}


.sponsor-card-platinum {
  animation: glow 5s ease-in-out infinite;
}

/* trailer embed */
#trailer {
  position: relative;
  padding-bottom: 56.25%;
}

#trailer > iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 1em;
}

.textbox {
  background-color: var(--awards-background);
  color: var(--awards-text);
}

.textbox > h2 {
  text-align: center;
}

.textbox > p span {
  font-size: smaller;
}

.textbox > p {
  line-height: 1.4em;
}

#mission, #support, #tiers, #contact {
  scroll-margin-top: 80px;
}

/* mobile */
@media screen and (max-width: 800px) {
  .textbox {
    background-color: var(--superdark);
    width: 100%;
  }

  .wavy-divider {
    background-color: var(--superdark);
  }
}

@media screen and (min-width: 800px) {
  .textbox {
    border-radius: 1rem;
  }
}

.sponsor-card:not(:hover) {
  transform: translate(0, 0px);
}

.sponsor-card:hover {
  transform: translate(0, -10px);
}

.sponsor-content {
  width: 80%;
}

.sponsor-indicator {
  width: 80%;
  height: 2px;
  margin: 0 0 1em 0;
  border-radius: 100%;
}

.leadership-card {
  margin: 0.5em;
  padding: 1.5em;
  background-color: var(--darker);
  color: var(--light);
  transition: transform ease 300ms;
  min-height: 85%;
}

.leadership-card:not(:hover) {
  transform: translate(0, 0px);
}

.leadership-card:hover {
  transform: translate(0, -10px);
}

.leadership-card > img {
  min-width: 100%;
}


.leadership-card > h3,
.leadership-card > h2,
.leadership-card > p {
  overflow-wrap: break-word;
}


.sponsor-content > p,
ul {
  padding-bottom: 1.5em;
}

.sponsor-content > ul {
  margin-left: 1em;
}

.back-button {
  position: absolute;
  top: 5.5em;
  left: 0em;
  margin: 1em;
  z-index: 50;
  padding: 10px;
  background-color: transparent;
  color: white;
  border: 2px solid white;
  border-radius: 5px;
  text-decoration: none;
  color: white !important;
}

.back-button i {
  margin-right: 5px;
}

.back-button:hover {
  background-color: #121212c0;
}

header {
  padding: 30px 10% !important;
  height: auto;
}
#navbar-links {
  margin: 0;
  padding: 0;
}